@mixin back-news($url,$alto){
	background-image: url("../img/news/#{$url}.png");
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	height:#{$alto};
}
.icon{
	display: inline-block;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	height: 14px;
	width: 14px;
	margin: 0 5px;
}
.fb{
	background-image:url("../img/fb.png");
}
.tw{
	background-image:url("../img/tw.png");
}
.in{
	background-image: url("../img/in.png");
}
.nube{
	background-image: url("../img/cloud.png");
}
.newMain{
	@include back-news("news-0", 47vh);
}
.text-white{
	color: white;
}
.pos-absolute{
	position: absolute;
	left: 70px;
	bottom: 0;
	width: 65%;
}
.pos-relative{
	position: relative;
}
img{
	width:100%;
	height: auto;
}
.logo{
	width: 300px;
	height: 65px;
}
.bg-title{
	background-color: #2B2B2B;
	padding-top: 2.5rem;
	padding-left: 1.5rem;
	height: 100px;
}
.horizonte{
	width:50%;
	display: inline-block;
	float: left;
	height: 100px;
}
.width-50{
	width: 50%;
	display: inline-block;
}

.border{
	border: 3px solid #F7B617;
	padding: 12px 7px;
}
.item{
	margin-bottom: 12px;
	&.width-50 .bg-title{
		height: 70px;
	}
	&.width-50 img{
		height: 120px;
	}
}
